.about_div {
    width: 600px;
}

.header_about_div {
    display: flex;
    justify-content: center;
    gap: 70px;
} 

.header_about_div img {
    width: 300px;
    height: 400px;
}

.container {
    align-self: center;

    text-align: center;
}

.container h1 {
    font-size: 2em;
}

.description_div {
    text-align: center;
}

span {
    font-weight: bold;
}

@media (max-width: 1420px) {
    .about_div {
        width: fit-content;
        margin: 0;
    }

    .description_div {
        padding: 20px;
    }
}

@media (max-width: 670px) {
    .header_about_div img {
        max-width: 10em;
        max-height: 15em;
    }

    .header_about_div {
        flex-wrap: wrap;
    }
}