main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    background-image: url(/src/assets/library-image.jpg);
    background-size: cover;

    height: 100%;
}

.title_div, .search_div {
    width: 600px;
    margin-left: 3rem;
    color: var(--font-color);
    font-size: 2em;
}

.title_div h1 {
    line-height: 10px;
    font-size: 3em;
}

.search_div {
    display: flex;
    align-items: center;
    gap: 10px;
}